In [1]:
!pip3 install pandasql

Collecting pandasql
  Downloading https://files.pythonhosted.org/packages/6b/c4/ee4096ffa2eeeca0c749b26f0371bd26aa5c8b611c43de99a4f86d3de0a7/pandasql-0.7.3.tar.gz
Requirement already satisfied: numpy in /usr/local/lib/python3.6/dist-packages (from pandasql) (1.14.6)
Requirement already satisfied: pandas in /usr/local/lib/python3.6/dist-packages (from pandasql) (0.22.0)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.6/dist-packages (from pandasql) (1.2.18)
Requirement already satisfied: python-dateutil>=2 in /usr/local/lib/python3.6/dist-packages (from pandas->pandasql) (2.5.3)
Requirement already satisfied: pytz>=2011k in /usr/local/lib/python3.6/dist-packages (from pandas->pandasql) (2018.9)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2->pandas->pandasql) (1.11.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Stored in directory: /root/.cache/pip/wheels/53/6c/18/b87a2e5fa8a82e9c026311de56210b8d1c01846e18a9607fc9
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [0]:
import numpy as np
import pandas as pd
import pandasql as ps
from time import time

In [29]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/wdbc.data'
data_diagnostic = pd.read_csv(url, sep=',',header=None)
data_diagnostic.columns = ['id'] + ['D' + str(i) for i in range(1, 32)]
data_diagnostic.head()

,id,D1,D2,D3,D4,D5,D6,D7,D8,D9,...,D22,D23,D24,D25,D26,D27,D28,D29,D30,D31
0,842302,M,17.99,10.38,122.80,1001.0,0.11840,0.27760,0.3001,0.14710,...,25.38,17.33,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
1,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.0869,0.07017,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
2,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.1974,0.12790,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758
3,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.2414,0.10520,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300
4,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.1980,0.10430,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678

In [30]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/breast-cancer-wisconsin/wpbc.data'
data_prognostic = pd.read_csv(url, sep=',',header=None)
data_prognostic.columns = ['id'] + ['P' + str(i) for i in range(1, 35)]
data_prognostic.head()

,id,P1,P2,P3,P4,P5,P6,P7,P8,P9,...,P25,P26,P27,P28,P29,P30,P31,P32,P33,P34
0,119513,N,31,18.02,27.60,117.50,1013.0,0.09489,0.1036,0.1086,...,139.70,1436.0,0.1195,0.1926,0.3140,0.1170,0.2677,0.08113,5.0,5
1,8423,N,61,17.99,10.38,122.80,1001.0,0.11840,0.2776,0.3001,...,184.60,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890,3.0,2
2,842517,N,116,21.37,17.44,137.50,1373.0,0.08836,0.1189,0.1255,...,159.10,1949.0,0.1188,0.3449,0.3414,0.2032,0.4334,0.09067,2.5,0
3,843483,N,123,11.42,20.38,77.58,386.1,0.14250,0.2839,0.2414,...,98.87,567.7,0.2098,0.8663,0.6869,0.2575,0.6638,0.17300,2.0,0
4,843584,R,27,20.29,14.34,135.10,1297.0,0.10030,0.1328,0.1980,...,152.20,1575.0,0.1374,0.2050,0.4000,0.1625,0.2364,0.07678,3.5,0

In [31]:
# 1 - diagnosis, 2 - radius, 22 - worst radius
t0_diagnostic = time()
aggregations_diagnostic = {
    'D22': lambda x: max(x)    
}
print(data_diagnostic.groupby('D1').agg(aggregations_diagnostic))
t1_diagnostic = time()
print('It takes: ', t1_diagnostic - t0_diagnostic)

      D22
D1
B   19.82
M   36.04
It takes:  0.005372047424316406

In [23]:
# 1 - diagnosis, 2 - radius, 22 - worst radius
t0_diagnostic = time()
aggr_query_diagnostic = '''
    SELECT 
        D1,
        max(D22)
    FROM data_diagnostic 
    GROUP BY D1
    '''
print(ps.sqldf(aggr_query_diagnostic, locals()))
t1_diagnostic = time()
print('It takes: ', t1_diagnostic - t0_diagnostic)

  D1  max(D22)
0  B     19.82
1  M     36.04
It (diagnostic) takes:  0.04991793632507324

In [37]:
t0 = time()
result = pd.merge(data_diagnostic[['id','D1', 'D2', 'D22']],
                 data_prognostic[['id', 'P1', 'P2']],
                 on='id')
t1 = time()
print(result)
print('It takes: ', t1 - t0)

          id D1     D2    D22 P1   P2
0     842517  M  20.57  24.99  N  116
1     843786  M  12.45  15.47  R   77
2     844359  M  18.25  22.88  N   60
3     844981  M  13.00  15.49  N  119
4     845636  M  16.02  19.19  N  123
5     846381  M  15.85  16.84  N  117
6     848406  M  14.68  19.07  N  123
7    8511133  M  15.34  18.07  N   20
8     851509  M  21.16  29.17  R   10
9     852552  M  16.65  26.46  N   96
10    852631  M  17.14  22.25  N  116
11    852763  M  14.58  17.62  N  103
12    852781  M  18.61  21.31  N   16
13    852973  M  15.30  20.27  N   52
14    853201  M  17.57  20.01  N   94
15    853612  M  11.84  16.82  N  116
16    854002  M  19.27  24.15  N   53
17    854039  M  16.13  20.21  N  109
18    854253  M  16.74  20.01  N   12
19    854268  M  14.25  15.89  N   31
20    855133  M  14.99  14.99  N   72
21    855138  M  13.48  15.53  N   76
22    855167  M  13.44  15.93  N   34
23    855563  M  10.95  12.84  N   99
24    855625  M  19.07  24.09  R    9
25    856106  M  13.28  17.38  N  114
26    857010  M  18.65  22.82  R    8
27     85715  M  13.17  15.67  N  111
28    857438  M  15.10  18.10  R   48
29    857637  M  19.21  26.14  R   11
..       ... ..    ...    ... ..  ...
109   901288  M  20.64  25.37  N   54
110  9013838  M  11.08  13.24  N    7
111    90291  M  14.60  15.79  N   57
112    90312  M  19.55  20.82  N   13
113   903516  M  21.61  26.23  N   58
114   905680  M  15.13  17.26  N   51
115   908194  M  20.18  22.03  R    1
116   908445  M  18.82  22.66  N   47
117   908489  M  13.98  17.04  R    9
118   909445  M  17.27  20.38  N   13
119  9110127  M  18.03  20.38  N   23
120  9110732  M  17.75  21.53  R   16
121  9111805  M  19.59  21.44  R    9
122  9113538  M  17.60  21.57  N   32
123   911916  M  16.25  17.39  N    8
124   913505  M  19.44  23.96  R   14
125   913535  M  16.69  19.18  N   36
126   914062  M  18.01  21.53  R   12
127   914769  M  18.49  22.75  N   38
128    91485  M  20.59  23.86  R   11
129    91504  M  13.82  16.01  N   34
130   915143  M  23.09  30.79  R    7
131   915460  M  15.46  17.11  N   41
132   916799  M  18.31  21.86  N   40
133   916838  M  19.89  23.73  N   41
134   925622  M  15.22  17.52  N   30
135   926125  M  20.92  24.29  N   17
136   926424  M  21.56  25.45  N   28
137   926682  M  20.13  23.69  N   20
138   926954  M  16.60  18.98  N   16

[139 rows x 6 columns]
It takes:  0.010282039642333984

In [36]:
t0 = time()
merge_query = '''
    SELECT 
        d.id,
        d.D1,
        d.D2,
        d.D22,
        p.id, 
        p.P1,
        p.P2
    FROM data_diagnostic as d JOIN data_prognostic as p ON (d.id = p.id)
    GROUP BY p.id
    '''
print(ps.sqldf(merge_query, locals()))
t1 = time()
print('It takes: ', t1 - t0)

          id D1     D2    D22       id P1   P2
0      85715  M  13.17  15.67    85715  N  111
1      86208  M  20.26  24.22    86208  R   10
2      86517  M  18.66  22.25    86517  N  108
3      87163  M  13.43  17.98    87163  N   84
4      87164  M  15.46  18.79    87164  N   98
5      87880  M  13.81  19.20    87880  N   38
6      89122  M  19.40  23.79    89122  N   17
7      89812  M  23.51  30.67    89812  R   24
8      90291  M  14.60  15.79    90291  N   57
9      90312  M  19.55  20.82    90312  N   13
10     91485  M  20.59  23.86    91485  R   11
11     91504  M  13.82  16.01    91504  N   34
12    842517  M  20.57  24.99   842517  N  116
13    843786  M  12.45  15.47   843786  R   77
14    844359  M  18.25  22.88   844359  N   60
15    844981  M  13.00  15.49   844981  N  119
16    845636  M  16.02  19.19   845636  N  123
17    846381  M  15.85  16.84   846381  N  117
18    848406  M  14.68  19.07   848406  N  123
19    851509  M  21.16  29.17   851509  R   10
20    852552  M  16.65  26.46   852552  N   96
21    852631  M  17.14  22.25   852631  N  116
22    852763  M  14.58  17.62   852763  N  103
23    852781  M  18.61  21.31   852781  N   16
24    852973  M  15.30  20.27   852973  N   52
25    853201  M  17.57  20.01   853201  N   94
26    853612  M  11.84  16.82   853612  N  116
27    854002  M  19.27  24.15   854002  N   53
28    854039  M  16.13  20.21   854039  N  109
29    854253  M  16.74  20.01   854253  N   12
..       ... ..    ...    ...      ... ..  ...
109   916838  M  19.89  23.73   916838  N   41
110   925622  M  15.22  17.52   925622  N   30
111   926125  M  20.92  24.29   926125  N   17
112   926424  M  21.56  25.45   926424  N   28
113   926682  M  20.13  23.69   926682  N   20
114   926954  M  16.60  18.98   926954  N   16
115  8511133  M  15.34  18.07  8511133  N   20
116  8610637  M  18.05  22.39  8610637  N   97
117  8611792  M  19.10  20.33  8611792  R   40
118  8711803  M  19.19  22.03  8711803  N   84
119  8712289  M  23.27  28.01  8712289  N   62
120  8712729  M  16.78  20.05  8712729  N    5
121  8712766  M  17.47  23.14  8712766  N   65
122  8810703  M  28.11  28.11  8810703  N   35
123  8810955  M  14.19  16.86  8810955  N   73
124  8810987  M  13.86  15.75  8810987  N   73
125  8811842  M  19.80  25.73  8811842  N   48
126  8812877  M  15.75  19.56  8812877  N   68
127  8910988  M  21.75  28.19  8910988  R    5
128  8911163  M  17.93  20.92  8911163  N   59
129  8912049  M  19.16  23.72  8912049  N   55
130  8912280  M  16.24  18.55  8912280  N    8
131  9010018  M  15.08  18.51  9010018  R    5
132  9011494  M  20.20  24.19  9011494  N   51
133  9012000  M  22.01  27.66  9012000  R    2
134  9013838  M  11.08  13.24  9013838  N    7
135  9110127  M  18.03  20.38  9110127  N   23
136  9110732  M  17.75  21.53  9110732  R   16
137  9111805  M  19.59  21.44  9111805  R    9
138  9113538  M  17.60  21.57  9113538  N   32

[139 rows x 7 columns]
It takes:  0.08999800682067871